:root {
  --primary-color: #eab308;
  --primary-light-color: #fec71c;
  --primary-dark-color: #cc9500;

  --secondary-color: #2581eb;
  --secondary-light-color: #439fff;
  --secondary-dark-color: #0763cd;

  --text-color: #1f2937;

  --white-color: #fff;
  --black-color: #1e1e1e;
  --red-color: #ff6c2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-width: 320px;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul,
li {
  list-style: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 80;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-color);
}

.button-primary:active {
  background-color: var(--primary-dark-color);
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button-secondary:active {
  background-color: var(--secondary-dark-color);
}

.container {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding-top: 5px;
  position: relative;
  z-index: 100;
}

.menu-list.desktop {
  display: none;
}

.nav {
  display: flex;
  gap: 12px;
}

.cart-icon,
.menu-icon,
.menu-close-icon,
.popup-close-icon {
  cursor: pointer;
}

.cart-icon:active {
  content: url(/src/assets/cart-active.svg);
}

.menu-icon:active {
  content: url(/src/assets/menu-active.svg);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 32px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 90;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.mobile-menu.open {
  transform: translateY(0);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
  margin-bottom: 20px;
}

.menu-list-item {
  align-self: center;
  align-content: center;
  height: 38px;
  font-weight: 500;
}

.menu-list-item a {
  padding-block: 8px;
}

.menu-list-item.active a {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

#desktop-callback-button {
  display: none;
}

#mobile-callback-button {
  align-self: center;
}

.main {
  position: relative;
  margin-top: 46px;
}

.title {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 92px;
  line-height: 80%;
  color: var(--black-color);
}

.duck {
  position: absolute;
  top: 224px;
  right: -140px;
  width: 343px;
}

.cta {
  display: flex;
  flex-direction: column;
  width: 343px;
  align-items: start;
  gap: 8px;
  margin-top: 32px;
  position: relative;
  z-index: 10;
}

.subtitle {
  max-width: 315px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.duck-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  margin-top: 143px;
}

.duck-list-item {
  padding-left: 38px;
  min-height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
}

.duck-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.duck-list-item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: currentColor;
  mask-image: url("/src/assets/arrow.svg");
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.popup.open {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 344px;
  background: var(--white-color);
  padding: 20px 16px;
  border-radius: 20px;
}

.form-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.required {
  color: var(--red-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-field label {
  font-weight: 500;
}

.form-field input {
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  padding: 10px 16px;
  outline: none;
}

.form-agreement {
  margin-top: 8px;
  font-size: 14px;
}

.form-agreement a {
  color: var(--secondary-color);
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--secondary-color);
  }

  .cart-icon:hover {
    content: url(/src/assets/cart-hover.svg);
  }

  .menu-icon:hover {
    content: url(/src/assets/menu-hover.svg);
  }

  .button-primary:hover {
    background-color: var(--primary-light-color);
  }

  .button-secondary:hover {
    background-color: var(--secondary-light-color);
  }

  .menu-list-item:hover {
    color: var(--secondary-color);
  }

  .menu-list-item.active a:hover {
    color: var(--secondary-light-color);
  }

  .duck-list-item:hover {
    color: var(--secondary-color);
  }

  .form-agreement a:hover {
    color: var(--secondary-light-color);
  }
}

@media (min-width: 500px) {
  .duck {
    top: 150px;
    right: -180px;
    width: 450px;
  }
}

@media (min-width: 960px) {
  .header {
    padding-top: 16px;
  }

  #desktop-callback-button {
    display: block;
  }

  #desktop-callback-button.hidden {
    display: none;
  }

  #mobile-callback-button {
    display: none;
  }

  .menu-list {
    margin-bottom: unset;
  }

  .title {
    font-size: 152px;
  }

  .duck {
    top: -50px;
    right: -245px;
    width: 577px;
  }

  .duck-list {
    flex-direction: row;
    justify-self: center;
    gap: 24px;
    margin-top: 80px;
  }
}

@media (min-width: 1280px) {
  .menu-list.desktop {
    display: flex;
    flex-direction: row;
    margin-top: unset;
    gap: 20px;
  }

  .menu-button {
    all: unset;
  }

  .menu-list-item.button-item {
    margin-right: 28px;
    cursor: pointer;
  }

  .menu-list-item.button-item::after {
    content: "";
    position: absolute;
    top: 50%;
    background-color: currentColor;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    mask-image: url("/src/assets/arrow-down.svg");
  }

  .menu-icon {
    display: none;
  }

  .main {
    margin-top: 76px;
  }

  .text-content {
    display: flex;
    justify-content: center;
    gap: 208px;
  }

  .right {
    margin-top: 95px;
  }

  .cta {
    margin-top: 20px;
    margin-left: 830px;
  }

  .duck {
    top: -40px;
    right: 51.5%;
    transform: translateX(50%);
    width: 668px;
  }

  .duck-list {
    gap: 44px;
    margin-top: 195px;
  }

  .form {
    width: 417px;
    padding: 40px;
  }
}
