* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-width: 320px;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 98;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.button-primary {
  background-color: #eab308;
}

.button-primary:active {
  background-color: #cc9500;
}

.button-secondary {
  background-color: #2581eb;
}

.button-secondary:active {
  background-color: #0763cd;
}

.container {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 5px;
  position: relative;
  z-index: 100;
}

.menu-list.desktop {
  display: none;
}

.nav {
  display: flex;
  gap: 12px;
}

.cart-icon,
.menu-icon,
.close-icon {
  cursor: pointer;
}

.cart-icon:active {
  content: url(/src/assets/cart-active.svg);
}

.menu-icon:active {
  content: url(/src/assets/menu-active.svg);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 32px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 99;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.mobile-menu.open {
  transform: translateY(0);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
  margin-bottom: 20px;
}

.menu-list-item {
  align-self: center;
  align-content: center;
  height: 38px;
}

.menu-list-item a {
  padding-block: 8px;
}

.menu-list-item.active {
  color: #2581eb;
  border-bottom: 2px solid #2581eb;
}

#desktop-callback-button {
  display: none;
}

#mobile-callback-button {
  align-self: center;
}

.main {
  position: relative;
  margin-top: 46px;
}

.title {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 92px;
  line-height: 80%;
}

.duck {
  position: absolute;
  top: 224px;
  right: -140px;
  width: 343px;
}

.cta {
  display: flex;
  flex-direction: column;
  width: 343px;
  align-items: start;
  gap: 8px;
  margin-top: 32px;
  position: relative;
  z-index: 10;
}

.subtitle {
  max-width: 315px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

.duck-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  margin-top: 143px;
}

.duck-list li {
  padding-left: 38px;
  min-height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  color: #1f2937;
  cursor: pointer;
}

.duck-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: currentColor;
  mask-image: url("/src/assets/arrow.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

@media (hover: hover) and (pointer: fine) {
  .cart-icon:hover {
    content: url(/src/assets/cart-hover.svg);
  }

  .menu-icon:hover {
    content: url(/src/assets/menu-hover.svg);
  }

  .button-primary:hover {
    background-color: #fec71c;
  }

  .button-secondary:hover {
    background-color: #439fff;
  }

  .duck-list li:hover {
    color: #2581eb;
  }

  .menu-list-item:hover {
    color: #2581eb;
  }
}

@media (min-width: 500px) {
  .duck {
    top: 150px;
    right: -180px;
    width: 450px;
  }
}

@media (min-width: 960px) {
  .header {
    padding-top: 16px;
  }

  #desktop-callback-button {
    display: block;
  }

  #desktop-callback-button.hidden {
    display: none;
  }

  #mobile-callback-button {
    display: none;
  }

  .menu-list {
    margin-bottom: unset;
  }

  .title {
    font-size: 152px;
  }

  .duck {
    top: -50px;
    right: -245px;
    width: 577px;
  }

  .duck-list {
    flex-direction: row;
    justify-self: center;
    gap: 24px;
    margin-top: 80px;
  }
}

@media (min-width: 1280px) {
  .menu-list.desktop {
    display: flex;
    flex-direction: row;
    margin-top: unset;
    gap: 20px;
  }

  .menu-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }

  .main {
    margin-top: 76px;
  }

  .text-content {
    display: flex;
    justify-content: center;
    gap: 208px;
  }

  .right {
    margin-top: 95px;
  }

  .cta {
    margin-top: 20px;
    margin-left: 830px;
  }

  .duck {
    top: -40px;
    right: 51.5%;
    transform: translateX(50%);
    width: 668px;
  }

  .duck-list {
    gap: 44px;
    margin-top: 195px;
  }
}
